body {
	margin-top: 100px;
	text-align: center;
}

.status { 
	width: 50%;
	border-style: solid;
	text-align: justify;
	margin: 0 auto;
	font-size: 2em;
	line-height: 1.2em;
	padding: 30px 30px 30px 30px;
}